html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f3f5;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* element */
.el-input__inner {
  padding-right: 30px;
  box-sizing: border-box;
}